.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryDisp{
  height: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 10px;
  border: solid 5px #61dafb;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  font-size: large;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: rgba(97, 218, 251, 0.5);
}








